body{
  background-color: #B9B9DA!important;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #EEEEEE;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
}
.logo{
  margin-left: auto;
  margin-right: auto;
}
.h-title{
  text-align: center;
  color: black;
}
.s-item{
  margin-left: auto!important;
  margin-right: auto!important;
}
.form button {
  align-self: flex-end;
}
.flex-column > label {
  color: black;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid black;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}
.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  color: black;
  background: transparent;
  width: 85%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within{
  border: 1.5px solid aqua;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: aqua;
  color: black;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

